<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,900' rel='stylesheet' type='text/css'>
    <link href="css/ihover.min.css" rel="stylesheet">



  </head>
  <body>

<header class="intro-header" style="background-image: url('/#')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                    <h1 class="contact-title">About</h1>
                        <hr class="small">
                        <p>TO Do App using Backbone.js and Local Storage</p>
                        
                        </div><!-- //about-->
                    </div><!-- // end page-heading-->
                    
                </div><!-- // end col-lg-->
            </div><!-- // end container-->
        </div><!-- // end row-->
    </header><!--// end header-->

    <footer id="wrap">
          <div class="container">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-md-6 col-md-offset-3 text-center">
                            Copyright &copy; Uma Petersen 2016
              </div>
            </div>
          </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="css/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>